*~
*.bak
.DS_Store
# Oberon/OBNC specific files
*.sym
*.o
.obnc
CONFIG
bin/*
lib/obnc/OBNCConfig.h
lib/obnc/OBNCTest
lib/obnc/FilesTest
lib/obnc/InTest
lib/obnc/Input0Test
lib/obnc/InputTest
lib/obnc/MathTest
lib/obnc/OutTest
lib/obnc/StringsTest
lib/obnc/XYplaneTest
src/Config.h
src/MapsTest
src/TableTest
src/UtilTest
src/lex.yy.c
src/lex.yy.h
src/lex.yyTest
src/obnc
src/obnc-compile
src/obnc-path
src/obncdoc
src/y.tab.c
src/y.tab.h
