*~
*.bak
.DS_Store
# Oberon/OBNC specific files
*.sym
*.o
.obnc
CONFIG
bin/*
lib/obnc/OBNCConfig.h
lib/obnc/OBNCTest
lib/obnc/FilesTest
lib/obnc/InTest
lib/obnc/Input0Test
lib/obnc/InputTest
lib/obnc/MathTest
lib/obnc/OutTest
lib/obnc/StringsTest
lib/obnc/XYplaneTest
src/Config.h
src/MapsTest
src/TableTest
src/UtilTest
src/lex.yy.c
src/lex.yy.h
src/lex.yyTest
src/obnc
src/obnc-compile
src/obnc-path
src/obncdoc
src/y.tab.c
src/y.tab.h
lib/obnc/obncdoc/Files.def
lib/obnc/obncdoc/Files.def.html
lib/obnc/obncdoc/FilesTest.def
lib/obnc/obncdoc/FilesTest.def.html
lib/obnc/obncdoc/In.def
lib/obnc/obncdoc/In.def.html
lib/obnc/obncdoc/InTest.def
lib/obnc/obncdoc/InTest.def.html
lib/obnc/obncdoc/Input.def
lib/obnc/obncdoc/Input.def.html
lib/obnc/obncdoc/Input0.def
lib/obnc/obncdoc/Input0.def.html
lib/obnc/obncdoc/Input0Test.def
lib/obnc/obncdoc/Input0Test.def.html
lib/obnc/obncdoc/InputTest.def
lib/obnc/obncdoc/InputTest.def.html
lib/obnc/obncdoc/Math.def
lib/obnc/obncdoc/Math.def.html
lib/obnc/obncdoc/MathTest.def
lib/obnc/obncdoc/MathTest.def.html
lib/obnc/obncdoc/Out.def
lib/obnc/obncdoc/Out.def.html
lib/obnc/obncdoc/OutTest.def
lib/obnc/obncdoc/OutTest.def.html
lib/obnc/obncdoc/Strings.def
lib/obnc/obncdoc/Strings.def.html
lib/obnc/obncdoc/StringsTest.def
lib/obnc/obncdoc/StringsTest.def.html
lib/obnc/obncdoc/XYplane.def
lib/obnc/obncdoc/XYplane.def.html
lib/obnc/obncdoc/XYplaneTest.def
lib/obnc/obncdoc/XYplaneTest.def.html
lib/obnc/obncdoc/index.html
lib/obnc/obncdoc/style.css
tests/obnc/passing/A
tests/obnc/passing/B
tests/obnc/passing/C
tests/obnc/passing/D
tests/obnc/passing/OBNC
tests/obnc/passing/T1ConstantDeclarations
tests/obnc/passing/T2TypeDeclarations
tests/obnc/passing/T3VariableDeclarations
tests/obnc/passing/T4Expressions
tests/obnc/passing/T5Statements
tests/obnc/passing/T6ProcedureDeclarations
tmp
